h1 {
    font-size: 28px;
    color: #48bb78;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #38a169;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2f855a;
}

.remove-btn {
    background-color: #ef4444;
}

.remove-btn:hover {
    background-color: #dc2626;
}