h1 {
    font-size: 32px;
    color: #ff6b6b;
}

h2 {
    font-size: 24px;
    color: #030811;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    background-color: #38a169;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2f855a;
}